<!DOCTYPE html>
<html>

<head>
    <title>CRUD</title>
    {{> stylesheets }}
</head>

<body>
    {{#if showHeader}}
    {{> header}}
    {{/if}}

    <div id="app">
        {{{body}}}
    </div>
</body>

</html>